@import 'bootstrap/dist/css/bootstrap.min.css';
nav img{
    border-radius: 50%;
    margin-left: 640px;
}
.container{
    background-color: black;
    margin-top: 10px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
}
h1{
    text-align: center;
    margin-top: 100px;
}
span{
    color:aliceblue;
}