<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shoping</a>
    
  </div>
</nav>
<div class="content">
  <div class="sidepanel">
    
   <div class="sidenav">
     <h6>Products</h6>
     <h6>Home</h6>
     <h6>About</h6>
     <h6>Log Out</h6>
   </div>
    

  </div>
 <div class="main">
   <div class="container-fluid">
     <div class="row">
       <div class="col">
         
       </div>
     </div>
   </div>
 </div>

</div>
<footer>
  <pre>Conditions of Use & Sale   Privacy Notice   Interest-Based Ads   © 1996-2021, Shop.com, Inc. or its affiliates</pre>
   </footer>
</body>

</html>