@import 'bootstrap/dist/css/bootstrap.min.css';
.navbar-brand img{
    border-radius: 50%;
}
.container{
    margin-top: 150px;
    width: 20%;
    background-color: black;
    height:250px;
}

h1{
    text-align: center;
}
.login{
    margin-top: 20px;
}
button{
    margin-left:90px;
}